<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>Task Lists</h1>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<a href="/add">Add a Course</a><br/>

<table>
    <tr>

        <th> Task Name</th>
        <th> Due Date</th>
        <th> Priority</th>
        <td> Action </td>
    </tr>

    <tr th:each="var:${tasks}">
        <td th:text="${var.taskName}"></td>
        <td th:text="${var.dueDate}"></td>
        <td th:text="${var.priority}"></td>
        <td>
            <a th:href="@{/update/{id} (id=${var.id})}">Update</a>
            <a th:href="@{/detail/{id} (id=${var.id})}">Details</a>
            <a th:href="@{/delete/{id} (id=${var.id})}">Delete</a>

        </td>
    </tr>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>